# Unity 生成的文件和文件夹
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# Visual Studio / Rider / VSCode 相关文件
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# 构建产物
*.apk
*.aab
*.unitypackage
*.app
*.unitypackage.meta

# Addressables 相关文件
Assets/StreamingAssets/aa*
Assets/AddressableAssetsData/link.xml*
Assets/Addressables_Temp*
Assets/AddressableAssetsData/*/*.bin*

# Visual Scripting 自动生成的文件
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# 自动生成的测试场景
Assets/InitTestScene*.unity*
